.attribution {
    font-size: 11px;
    margin: 80px auto ;
    text-align: center;
    color: white; 
    a { 
        color: $special-keys-background; 
    }
}

body.light-theme .attribution {
    color: $theme-2-text;
    a {
        color: $theme-2-special-keys-background;
    }
}

body.neon-theme .attribution {
    color: $theme-3-text;
    a {
        color: $theme-3-key-background-equal;
    }
}
body, html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $main-background;
    align-items: center;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Spartan', sans-serif;
}