 /*
*       Theme 1
 */
// Backgrounds
$main-background: hsl(222, 26%, 31%);
$keypad-background: hsl(223, 31%, 20%);
$screen-background: hsl(224, 36%, 15%);
//Keys

$special-keys-background: hsl(225, 21%, 49%);
$special-keys-shadow: hsl(224, 28%, 35%);

$key-background-equal: hsl(6, 63%, 50%);
$key-shadow-equal: hsl(6, 70%, 34%);

$keys-background: hsl(30, 25%, 89%);
$keys-shadow: hsl(28, 16%, 65%);

//Text
$text: hsl(221, 14%, 31%);
$text-equal: white;

  

/*
*       LIGHT THEME
*/
// Backgrounds
$theme-2-main-background: hsl(0, 0%, 90%);
$theme-2-keypad-background: hsl(0, 5%, 81%);
$theme-2-screen-background: hsl(0, 0%, 93%);
//Keys

$theme-2-special-keys-background: hsl(185, 42%, 37%);
$theme-2-special-keys-shadow: hsl(185, 58%, 25%);

$theme-2-key-background-equal: hsl(25, 98%, 40%);
$theme-2-key-shadow-equal: hsl(25, 99%, 27%);

$theme-2-keys-background: hsl(45, 7%, 89%);
$theme-2-keys-shadow: hsl(35, 11%, 61%);

//Text
$theme-2-text: hsl(60, 10%, 19%);
$theme-2-text-equal: white;

/*
*       NEON THEME
*/
// Backgrounds
$theme-3-main-background: hsl(268, 75%, 9%);
$theme-3-keypad-background: hsl(268, 71%, 12%);
$theme-3-screen-background: hsl(268, 71%, 12%);

//Keys
$theme-3-special-keys-background: hsl(281, 89%, 26%);
$theme-3-special-keys-shadow: hsl(285, 91%, 52%);

$theme-3-key-background-equal: hsl(176, 100%, 44%);
$theme-3-key-shadow-equal: hsl(177, 92%, 70%);

$theme-3-keys-background: hsl(268, 47%, 21%);
$theme-3-keys-shadow: hsl(290, 70%, 36%);

//Text
$theme-3-text: hsl(52, 100%, 62%);
$theme-3-text-equal:hsl(198, 20%, 13%);
