@import './variables';
@import './settings';
@import './toggle';

.calculator{
    min-width: 300px;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;
    max-width: 360px;
    margin: auto;
    margin-top: auto;
    background: $main-background;
}

@media (min-width:360px) {
    .calculator{
        width: 100%;
    }
}
.top{
    display: flex;
    grid-row: 1;
    flex-direction: row;
    justify-content: space-between;
    & > *{
        color: white;
    }
}
.theme-text{
    font-size: 10px;
    font-weight: 500;
}
.calc-text{
    font-size:18px;
    font-weight: 700;
}
.result{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $screen-background;
    border-radius: 10px;
    grid-row: span 3;
}
.result-text{
    font-size: 32px;
    color: white;
    padding-right: 20px;
}
.keys-container{
    background-color: $toggle-background;
    padding: 15px;
    grid-row: span 8;
    display: grid;
    border-radius: 10px;
    gap: 5px;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);
}
#equal-btn, 
#reset{
    grid-column: span 2;
    width:155px;

}
.key{
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 2px $keys-shadow;
    color: $text;
    outline: none;
    font-weight: 700;
    font-size: 24px;
    width: 70px;
    background: $keys-background;
    height: 40px;
    &:hover{
        background-color: $keys-shadow;
    }
}
.key-special{
    background-color: $special-keys-background;
    color: white;
    box-shadow: 0 2px 2px $special-keys-shadow;
    &:hover{
        background-color: $special-keys-shadow;
    }
}
#equal-btn{
    background-color: $key-background-equal;
    box-shadow: 0 2px 2px $key-shadow-equal;
    color: white;
    &:hover{
        background-color: $key-shadow-equal;
    }

}